.module-container {
    background-color: #222;
    border: 1px solid #363636;
    margin: 3px !important;
    height: 100%;
    padding: 10px;
}

.row {
    margin: auto;
}

#threed-vis{
	width: 100%;
	height: 100%;
}

#camera-info {
	text-align: center;
	padding: 10px
}

#first-level-title{
	stroke-width: 2;
    font-size: 1em;
    line-height: normal;
}

#second-level-title{
	stroke-width: 1;
    font-size: 0.8em;
    line-height: normal;
    color: #999;
}

.camera-image {
	vertical-align: middle;
    border-style: none;
    margin: 10px 0;
}

iframe {
	border: none;
}

body{overflow:scroll;}