<!DOCTYPE html>
<html lang="en">
    <head>
        <title>place.int</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

        <script src="/static/js/xeogl.js"></script>
        <script src="/static/js/glTFModel.js"></script>
        <script src="/static/js/skybox.js"></script>
        <script src="/static/js/dat.gui.min.js"></script>

        <!-- annotation------------------------------- -->

        <script src="/static/js/pin.js"></script>
        <script src="/static/js/annotation.js"></script>
        <link href="/static/css/annotation-style.css" rel="stylesheet"/>
    
        <script src="/static/js/showdown.min.js"></script>
        <script src="/static/js/story.js"></script>
        <script src="/static/js/annotationStory.js"></script>
        <link href="/static/css/story-style.css" rel="stylesheet"/>
        <script src = '/static/css/annotation.css'></script>
        <!-- annotation------------------------------------ -->



        <link href="/static/css/styles.css" rel="stylesheet"/>

        <style>
            body {
                background-color: black;
                padding: 0;
                margin: 0;
            }
        </style>
    </head>
    <body>
        <div id="info">
            <h1>HOPSON: Camera & Business Analysis System </h1>
            <pre id="log">Credits: PLACE.int</pre>
        </div>
        <div id="dat-gui-container">
        </div>

        <script src='/static/js/loadModel.js'></script>
    </body>
</html>