body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.50;
    /* color: white; */
    background-color: black;
    text-decoration: none;
    word-spacing: normal;
    text-align: left;
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 5px;
}



#viewer {
    position: absolute;
    left: 300px;
    width: -webkit-calc(100% - 300px); /* Safari */
    width: calc(100% - 300px);
    height: 100%;
    border: 0px;
    background-color: black;
}

#sourceButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 8px;
    color: #fff;
    background-color: #02550b;
    alpha: 0.7;
}

#sourceButton:hover {
    cursor: pointer;
    opacity: 1;
}


#logos {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 200000;
}

#info {
    /*position: absolute;*/
    /*top: 0px;*/
    z-index: 200000;
    /*font-weight: 600;*/
    float: left;
    /*left: 0px;*/
    /*padding: 10px;*/
    /*border-radius: 0 0 4px 0;*/
    /*border-radius:6px;*/
    /*height: auto;*/
    text-align: center;
    /*border: solid 1px #bdbcbc;*/
    pointer-events: none;
}

#info-website {
    position: absolute;
    bottom: 0;
    z-index: 200000;
    right: 16px;
    padding: 10px;
    height: auto;
    text-align: left;
    font-size: 20px;
    color: black;
}



#info a {
    z-index: 200000;
    /*text-decoration: none;*/
    color: #ffffff;
    pointer-events: all;
}

#info a:hover {
    color: #ffffff;
    /*text-decoration: underline;*/
}

#info p {
    padding: 0px;
    margin: 0px;
}

#info ul {
    margin: 0px;
    padding: 0;
    margin-left: 1em;
}

#info ul:first-child {
    margin-top: 0;
}

#info li {
    margin: 5px;
    padding: 0px;
}


#info-bottom {
    position: absolute;
    bottom: 0;
    z-index: 200000;
    /*font-weight: 600;*/
    float: left;
    left: 0px;
    padding: 10px;
    /*border-radius: 0 0 4px 0;*/
    /*border-radius:6px;*/
    height: auto;
    text-align: left;
    /*border: solid 1px #bdbcbc;*/
}


#info-bottom a {
    z-index: 200000;
    /*text-decoration: none;*/
    color: #ffffff;
}

#info-bottom a:hover {
    color: #ffffff;
    /*text-decoration: underline;*/
}

#info-bottom p {
    padding: 0;
    margin: 0;
}

#menu {
    margin: 0;
    left:0;
    width: auto;
    height:100%;
    padding: 7px;
    z-index: 200000;
}

#explorer {
    margin: 0;
    left:0;
    background: black;
    width: auto;
    height:100%;
    position:absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 7px;
    z-index: 200000;
}

#menu a {
    color: white;
    text-decoration: none;

}


#menu a:hover {
    color: yellow;
    text-decoration: underline;
}

#explorer a {
    color: white;
    text-decoration: none;
}

#explorer a:hover {
    color: yellow;
    text-decoration: underline;
}

.dark {
    background: black;
    opacity: 0.6;
}


#log {
    color: #9aee93;
    font-size: 16px;
}

#log p {
}

#dat-gui-container {
    position: absolute;
    /*top: 120px;*/
    top:0;
    right: 0;
    z-index: 100001;
    float: right;
    width: 320px;
    margin-right : 60px !important;
}

#dat-gui-container-website {
    position: absolute;
    bottom: 100px;
    /*bottom:130px;*/
    right: 50px;
    z-index: 100001;
    float: right;
    width: 320px;
    margin-right : 60px !important;
}

#header {
    text-align: center;
}

#container {
    background: white;
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 40px;
    overflow: auto;
}

/*hr {*/
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
    /*color: lightgray;*/
    /*background-color: lightgray;*/
    /*height: 1px;*/
/*}*/

article.fill h3 {
    background: rgba(255, 255, 255, .75);
    padding-top: .2em;
    padding-bottom: .3em;
    margin-top: -.2em;
    margin-left: -60px;
    padding-left: 60px;
    margin-right: -60px;
    padding-right: 60px;
}

ul {
    /*list-style: none;*/
    margin: 0;
    padding: 0;
    margin-top: 0;
    margin-left: .75em;
}

ul:first-child {
    margin-top: 0;
}

ul ul {
    margin-top: 0;
}


#contents {
    position: absolute;
    width: 300px;
    height: calc(100% - 50px);
    /*overflow-Y: scroll;*/
    /*overflow-x: hidden;*/
    background: black;
    overflow:auto;
}

#contents a {
    text-decoration: none;
}

#contents h1 {
    color: #78ce73;
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 25px;
    font-weight: normal;
    text-decoration: none !important;
}

#contents h1 a {
    color: #78ce73;
}

#contents h2 {
    color: #78ce73;
    font-size: 20px;
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 10px;
    text-decoration: none;
}

#contents #list {
    padding: 0px 20px;
    line-height: 18px;
    overflow-x: hidden;
}

#contents #list .link {
    margin-left: 0 !important;
    padding-left: 0 !important;
    padding-top: 1px;
    text-decoration: none;
    font-weight: normal;
    background: black;
    cursor: pointer;
    line-height: 1.5em;
}

#contents #list .selected {
    margin-left: -5px !important;
    padding-left: 5px !important;
    padding-top: 0;
    padding-bottom: 0;
    color: #000000;
    border: 1px solid #676767;
    background: #FFFF44;
}

#contents #list .link:hover {
    text-decoration: underline;
}

#contents #list .info {
    color: #78ce73;
    text-decoration: none;
    font-style: italic;
    font-size: 14px;
    background-color: black;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 15px;
    margin-bottom: 4px;
}

#contents #list .infoFirst {
    color: #78ce73;
    text-decoration: none;
    font-style: italic;
    font-size: 14px;
    background-color: black;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 0;
    margin-bottom: 4px;
}

